<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.julius.mytube">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.julius.mytube.app.KotlinApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="design_width_in_dp"
            android:value="390" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

        <activity
            android:name="com.julius.mytube.views.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="@string/host"
                    android:path="@string/path_splash"
                    android:scheme="@string/scheme" />
            </intent-filter>
        </activity>
        <activity android:name="com.julius.mytube.views.main.MainActivity" />
    </application>
</manifest>